<ion-view title="What's Hot">
  <ion-content class="padding" style="background-color:#222222">
      <center>
        <div style="width:80%; height: 300px;background-color:#4169E1" href="#/friend">
            <h2>Event</h2>
        </div>
        </br>
        <div style="width:80%; height: 300px;background-color:#0000FF">
            <h2>Promo</h2>
        </div>
        </br>
        <div style="width:80%; height: 300px;background-color:#00008B">
            <h2>Places</h2>
        </div>
    </center>
  </ion-content>
</ion-view>
